body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial;

}

.formButton {

    display: flex;
    align-items: center;
    top: 5px;
    left: 80%;
    width: 210px;
    cursor: pointer;
    visibility: hidden;
    position: absolute;
    z-index: 1;
}


#calendarContainer {
    padding-top: 50px;
    margin: auto;
    display: flex;
    justify-content: center;

}

table {
    /* width: 1528px;
    height: 760px; */
    /* background-color: #03a9f4; */
    box-shadow: 0 0 10px 5px rgb(90, 90, 90);
}

td {
    vertical-align: top;
}

.day.box {

    color: #01569b;
    transition: 0.2s ease-in-out;
    font-weight: bold;
    font-size: 22px;
    position: relative;
}


.day.box:hover {
    box-shadow: 0 0 10px 1px rgb(90, 90, 90);
    background-color: #8dccff;
    cursor: auto;

}

.day:hover .formButton {
    visibility: visible;
}

.box {
width: 170px;
height: 120px;
border: 1px solid #c7e5fd;

}

.box:hover {
    cursor: not-allowed;
}

img.showForm {
    width: 24px;
    height: 24px;
}

form.form {

    display: inline-block;
    line-height: 1;
    visibility: hidden;
 
}

.userInput {
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

.card {
    width: 95%;
    height: 30px;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card span{
    position: absolute;
    left: 20px;
}

.submit-bday-cont,.submit-anni-cont{
    padding: 15px;
    background-color: #c7e5fd;
    border-radius: 5px;

} 
