@font-face {
    font-family: 'Archia';
    src: url('./Static/Archia_Regular/Archia_Regular/Archia-Regular-Desktop/Archia-Regular.otf');
}

/* TABLE */

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Archia;
    display: flex;
    justify-content: center;
    align-items:center ;
    overflow-x: hidden;

}
#calendarContainer {
    width: 90vw;
    height:90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

table {
    /* width: 1528px;
    height: 760px; */
    /* background-color: #03a9f4; */
    /* box-shadow: 0 0 10px 5px rgb(90, 90, 90); */
    
}

td {
    vertical-align: top;
    /* width: 1000px; */
}

.day.box {

    color: #0A2852;
    font-weight: medium;
    font-size: 12px;
    position: relative;
}

.day.box:hover {
    /* box-shadow: 0 0 10px 1px rgb(90, 90, 90);
    background-color: #8dccff;
    cursor: auto; */

}

.day.box:hover .showForm {
    visibility: visible;
}

.box {
width: 100px;
/* height: 100px; */

/* border: 1px solid #E5E5E5; */
border-collapse: separate;
    /* background-color: #ffd0d0; */
}
.Days-Of-Week{
    color: #99a6b6;
    font-size: 12px;
    padding-bottom: 6px;
}
table, tr, td{
    /* border: 1px solid black; */
    border-collapse: collapse;
}




/* Inputs where user can add a birthday */

.formButton {

    display: flex;
    align-items: center;
    top: 0px;
    left: 85%;
    width: 200px;
    cursor: pointer;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    border: 1px solid rgba(194, 204, 206, 1);
    padding: 10px;
    border-radius: 10px;
}

img.showForm {
    width: 24px;
    height: 24px;
    background-color: white;
    opacity: 1;
}

form.form {

    display: inline-block;
    line-height: 1;
    visibility: hidden;
    /* position: absolute; */
    /* left:50%; */
}

.b-day-submit{
    /* background-color: aqua; */
    width: 36px;
    height: 36px;
    position: absolute;
    top: 8px;
}
.anniv-submit{
    /* background-color: aqua; */
    width: 36px;
    height: 36px;
    position: absolute;
    right: 5px;
    top: 8px;
}

.userInput {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
}
.userInput:focus{
    
    outline: none;

}









/* .submit-bday-cont,.submit-anni-cont{ 
     padding: 15px; 
     margin: 5px; 
     background-color: #c7e5fd;
    border-radius: 5px; 
     height: 0px; 

} */
.formButton:hover.contForDelete{
    display: unset;
}




/* Here is the section for how the card will look */
.contOfContForCard{
    width: 100%;
    min-height: 92%;
    display: flex;
    flex-direction: column-reverse;
    justify-items: flex-end;
    
    overflow-y: hidden;
}
.card {

    width: 98%;
    height: 35px;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left: px; */
    margin-bottom: 5px;
    /* position: absolute;
    bottom: 0px; */
}

.card img{
    /* width: 20px; */

}

.userTextSpan {
    position: relative;
    margin: 0px;
    display: block;
}
.event-status{
    font-size: 10px;
    font-weight: 100;
    color: #9EACB0;
}
.card-texts{
    /* height: 30px; */
    width:100px;
    /* display: flex;
    flex-direction: column; */
    /* margin-left: 5px; */
    position: absolute;
    left:30px
    
}
.card-texts p {
    margin: 0px;
}
.contForDelete{
    display: none;
    width: 10px;
    height: 100%;
    position: relative;


}
.card:hover .contForDelete{
    display: unset;

}
 
.card:hover + .showForm{
    display: none;
}
.deleteCard{
    width: 7px;
    height:7px;
    position: absolute;
    top:13px
}


/* The Dates and buttons to change months  */

#changeDatesDateCont{
    display:flex;
    justify-items: space-around;
}
#changeDatesDateCont p{
    margin-right: 14px;
}
#date-string{
    font-size: 32px;
    color: #04333b;
}
button{
    background-color: white;
    border: none;
}
.current-day{
    background-color: #dcdee7;
}
